// $primary: red !default;
// $secondary: null !default;
// $info: #2e5aac !default;
// $success: null;
// $danger: #da1414 !default;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

